<html>
  <head>
    <title>CSC 667</title>
    <link rel="stylesheet" href="/css/temp.css" />
  </head>
  <body>
    <p>Hello <%= name %></p>
    <script src="/js/index.js"></script>
  </body>
</html>
